.radio {
  display: inline-block;
}

.page {
  display: none;
  &.show {
    display: block;
  }
}


.weapon {
  display: block;
   background: url('../images/default.png') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 100px;
  @include transition(all, 0.5s, ease-in-out);

  &.rock {
    background: url('../images/rock.png') no-repeat center;
    background-size: contain;
  }

  &.paper {
    background: url('../images/paper.png') no-repeat center;
    background-size: contain;
  }

  &.scissors {
    background: url('../images/scissors.png') no-repeat center;
    background-size: contain;
  }
}
